<html>
    <br/><br/><br/><br/>
    <p style="text-align: center">
        Your POST action was successful. Please go back to the homepage to proceed.
    </p>
    <br/><br/>
    <form style="text-align: center" method="GET" action="/">
        <button style="text-align: center; align-items: center; font-size: 30px; width: 200px; height: 50px">
            Home
        </button>
    </form>
</html>