<html>
    <h1 style="text-align: center; margin-top: 50px; font-size: 40px">
        The GUC Graduate Portfolio
    </h1>
    <p style="text-align: center">
        Welcome to the website! If you are a graduate student of either the MET or BI faculties of the GUC, this website is for you!
    </p>
    <p style="text-align: center">
        If you would like to register, please click this button to be taken to the registration page.
        <br/>
        <form style="text-align: center" method="GET" action="/register">
            <button style="text-align: center; align-items: center; font-size: 25px; width: 120px; height: 35px">
                Register
            </button>
            <br/><br/>
        </form>
    </p>
    <p style="text-align: center">
        Already registered? Please click this button to be taken to the login page.
        <br/>
        <form style="text-align: center" method="GET" action="/login">
            <button style="text-align: center; align-items: center; font-size: 25px; width: 120px; height: 35px">
                Login
            </button>
            <br/><br/>
        </form>
    </p>
    <p style="text-align: center">
        Do you want to view our students and their projects? Please click this putton to go to our student index.
        <br/>
        <form style="text-align: center" method="GET" action="/index">
            <button style="text-align: center; align-items: center; font-size: 25px; width: 120px; height: 35px">
                Index
            </button>
            <br/><br/>
        </form>
    </p>
    <p style="text-align: center">
        Already logged in? You can go to your profile and upload work to your portfolio.
        <br/>
        <form style="text-align: center" method="GET" action="/profile">
            <button style="text-align: center; align-items: center; font-size: 20px; width: 120px; height: 35px">
                My Profile
            </button>
            <br/><br/>
        </form>
    </p>
</html>