<html>
    <p style="text-align: center">
        Please enter your email and password to login. Note that you will be directed to your profile afterwards.
    </p>
    </br></br>
    <form style="text-align: center" method="POST" action="/studentLogin">
        <label for="email">Email: </label>
        <input name = "email" type="text" id="email" placeholder="email@service.com">
        </br>
        <label for="password">Password: </label>
        <input name = "password" type="password" id="password">
        </br>
        <button style="text-align: center; align-items: center; font-size: 25px; width: 120px; height: 35px">
            Login
        </button>
        <br/><br/>
    </form>
</html>