<html>
    <p style="text-align: center">
        Please fill the form below as prompted.
    </p>
    </br></br>
    <form style="text-align: center" method="POST" action="/studentRegister" enctype="multipart/form-data">
        <label for="firstName">
            First Name: 
        </label>
        <input name = "firstName" type="text" id="firstName" placeholder="First Name">
        </br>
        <label for="lastName">
            Last Name: 
        </label>
        <input name = "lastName" type="text" id="lastName" placeholder="Last Name">
        </br>
        <label for="email">
            Email: 
        </label>
        <input name = "email" type="text" id="email" placeholder="email@service.com">
        </br>
        <label for="password">
            Password: 
        </label>
        <input name = "password" type="password" id="password">
        </br>
        <label for="major">
            Major: 
        </label>
        <input name = "major" type="text" id="major" placeholder="MET or BI">
        </br>
        <label for="bio">
            Bio: 
        </label>
        <input name = "bio" type="text" id="bio" placeholder="Tell us about yourself.">
        </br>
        <label for="pic">
            Profile Picture: 
        </label>
        <input type="file" name="pic" id="pic"/>
        </br>
        <button style="text-align: center; align-items: center; font-size: 25px; width: 120px; height: 35px">
           Sign Up
        </button>
        <br/><br/>
    </form>
</html>